<h1>helloo frnds</h1>

  <% lis.forEach(function(f){ %>
      <li><%= f %></li>
  <% }) %>


  <form action="/" method="POST">
  <input type="text" name="newf"></input>
  <button>sub</button>
</form>